.SyE2-container{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 77vh;
}

.SyE2-title{
    margin-top: 0;
    font-size: 4.5rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: .5em;
}

.servicios-especialidades2{
    height: 50vh;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.s-y-e2{
    background-color: white;
    height: 50vh;
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    text-align: center;
}

.header-title{
    font-size: 3em;  
}

.SyE2-summary{
    padding-top: 65px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.SyE2-summary2{
    padding-top: 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.SyE2-summary3{
    padding-top: 65px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.professional-title{
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}

@media ( max-width: 1310px){
    .SyE2-container{
        margin: 0;
        background-color: white;
        height: 60vh;
    }
    
    .SyE2-title{
        font-size: 3rem;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: .5em;
    }
    
    .servicios-especialidades2{
        height: 40vh;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .s-y-e2{
        background-color: white;
        height: 40vh;
        padding: 10px;
        width: 280px;
        display: flex;
        justify-content: center;
        border: 1.5px solid black;
    }
    
    .header-title{
        font-size: 1.7em;  
    }
    
    .SyE2-summary{
        padding-top: 46px;
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .SyE2-summary2{
        padding-top: 15px;
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .SyE2-summary3{
        padding-top: 46px;
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .professional-title{
        text-align: center;
        font-size: 1.5rem;
        padding: 5px;
    }
}

@media ( max-width: 800px){
    .SyE2-container{
        margin: 0;
        background-color: white;
        height: 32vh;
    }
    
    .SyE2-title{
        padding-top: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: .5em;
    }
    
    .servicios-especialidades2{
        height: 18vh;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .s-y-e2{
        background-color: white;
        height: 18vh;
        padding: 10px;
        width: 100px;
        display: flex;
        justify-content: center;
        border: 1px solid black;
    }
    
    .header-title{
        font-size: .8em;  
    }
    
    .SyE2-summary{
        padding-top: 19.5px;
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .SyE2-summary2{
        padding-top: 5px;
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .SyE2-summary3{
        padding-top: 18.5px;
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .professional-title{
        text-align: center;
        font-size: 1rem;
        padding: 5px;
        padding-top: 10px;
    }
}