.body{
    margin: 0;
}

.header-container{
    background-image: url('/Users/jasonjenkins/Desktop/MilySite/Mily_Site/src/assets/headerImage.jpeg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}
