.body{
    margin: 0;
}

.header-container{
    background-image: url('/headerImage.jpeg');
    background-size: cover;
    background-position: center;
    height: 70vh;
}



.logo-container{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 250px;
}
