@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.preguntas-container{
    display: flex;
    justify-content: space-around;
}

.preguntas-title{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.preguntas-line{
    height: 2px;
    border: none;
    background-color: lightgrey;
}

.preguntas-section{
    padding-top: 10px;
}

.preguntas-list{
    font-size: 1.8rem;
    list-style: none;
    font-weight: bold;
}

.preguntas-answers{
    font-size: 1.5rem;
}

@media (max-width: 1000px){
    .preguntas-container{
        display: flex;
        justify-content: space-around;
    }
    
    .preguntas-title{
        font-size: 2rem;
    }
    
    .preguntas-line{
        height: 2px;
        border: none;
        background-color: lightgrey;
    }
    
    .preguntas-section{
        padding-top: 10px;
    }
    
    .preguntas-list{
        font-size: 1.5rem;
        list-style: none;
    }
    
    .preguntas-answers{
        font-size: 1.2rem;
    }
}

@media (max-width: 780px){
    .preguntas-container{
        display: flex;
        justify-content: space-around;
    }
    
    .preguntas-title{
        font-size: 1.3rem;
    }
    
    .preguntas-line{
        height: 2px;
        border: none;
        background-color: lightgrey;
    }
    
    .preguntas-section{
        padding-top: 10px;
    }
    
    .preguntas-list{
        font-size: 1.1rem;
        list-style: none;
    }
    
    .preguntas-answers{
        font-size: 1rem;
    }
}