.SyE-container{
    margin: 0;
    padding: 0;
    background-color: #E2B59A;
    height: 75vh;
    align-items: center;
}

.SyE-title{
    margin-top: 0;
    font-size: 4.5rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: .5em;
}

.servicios-especialidades{
    height: 50vh;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.s-y-e{
    background-color: white;
    height: 50vh;
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.header-title{
    font-size: 3em;  
}

.SyE-summary{
    padding-top: 65px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.SyE-summary2{
    padding-top: 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media ( max-width: 1310px){
    .SyE-container{
        margin: 0;
        background-color: #E2B59A;
        height: 57vh;
    }
    
    .SyE-title{
        font-size: 3rem;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: .5em;
    }
    
    .servicios-y-especialidades{
        height: 40vh;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .s-y-e{
        background-color: white;
        height: 40vh;
        padding: 10px;
        width: 280px;
        display: flex;
        justify-content: center;
    }
    
    .header-title{
        font-size: 1.7em;  
    }
    
    .SyE-summary{
        padding-top: 46px;
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .SyE-summary2{
        padding-top: 15px;
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

@media ( max-width: 800px){
    .SyE-container{
        margin: 0;
        background-color: #E2B59A;
        height: 32vh;
    }
    
    .SyE-title{
        padding-top: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: .5em;
    }
    
    .servicios-especialidades{
        height: 18vh;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .s-y-e{
        background-color: white;
        height: 18vh;
        padding: 10px;
        width: 100px;
        display: flex;
        justify-content: center;
    }
    
    .header-title{
        font-size: .8em;  
    }
    
    .SyE-summary{
        padding-top: 19.5px;
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .SyE-summary2{
        padding-top: 5px;
        font-size: 12px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}